    .category-list {
        list-style-type: none;
        display: flex;
    }
    
    .category-list li {
        padding: 10px;
        margin-right: 5px;
        font-size: 14px;
        text-transform: uppercase;
        border-right: 1px solid rgba(104, 101, 101, 0.075);
    }