.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    /* font-size: 20px; */
    font-weight: bold;
    /* animation: activeTab 1s linear; */
    border: none;
    border-bottom: 3px solid rgb(70, 69, 69) !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover {
    border: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
    color: rgb(70, 69, 69);
}

.slider-container {
    position: relative;
    padding: 0 1em;
}

.slider-nav {
    cursor: pointer;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    border: none;
    background-color: #f3f3f3;
    padding: 10px;
    width: 3.1em;
    border-radius: 3em;
    position: absolute;
    z-index: 1000;
    top: 30%;
}

.left {
    right: 100%;
    left: 0;
}

.right {
    right: 0;
    left: 97.8%;
}

.section-title {
    margin: 1.2em;
    color: rgb(70, 70, 70) !important;
}

section {
    margin: 1.3em 0;
    padding: .7em 0;
}

.category--option-nav {
    border: 1px solid #14142e;
    cursor: pointer;
    padding: .6em 1em !important;
    color: #14142e;
    font-size: medium;
    font-weight: 500;
    border-radius: 50px;
    word-break: keep-all;
}

.category--option-nav-acrive {
    background-color: #14142e;
    cursor: pointer;
    padding: .6em 1em !important;
    color: #fff !important;
    font-size: medium;
    font-weight: 500;
    border-radius: 50px;
    word-break: keep-all;
}

.category--option-nav:hover {
    color: #fff !important;
    background-color: #14142e;
}