@import '../../Assets/css/varianles';

.second-section{
    height: 400px;
}

.banner-bottom-info{
    background-color: rgba(210, 213, 255, 0.37)
}
 .banner-bottom-icon {
    font-size: 5em;
    margin: 0 10ox;
    color: $main-color
}

