@import '../../Assets/css/varianles';

.second-section{
    height: 400px;
}
.ready-text h1,
.second-section-text h4{
    font-size: 44px;
    font-weight: 400
}

.second-section-text p{
    font-size: 24px;
}

.banner-bottom-info{
    background-color: rgba(210, 213, 255, 0.37)
}
 .banner-bottom-icon {
    font-size: 5em;
    margin: 0 10ox;
    color: $main-color
}

