.hasSubMenu .submenu li {
    display: block;
}

.hasSubMenu .submenu {
    position: absolute;
    left: 0;
    top: 160%;
    background: #fff;
    width: 200px;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
    opacity: 0;
    visibility: hidden;
    text-align: left;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

.hasSubMenu .submenu li a {
    padding: 10px 15px;
    position: inherit;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: block;
    color: #000;
}

.hasSubMenu>li {
    padding-bottom: 10px;
}

.hasSubMenu .submenu li a::before {
    display: none;
}

.hasSubMenu:hover>.submenu {
    opacity: 1;
    visibility: visible;
    top: 150%;
}